.print_job {
  padding: 0.5rem;
  width: 90%;
  min-height: 4rem;
  background-color: var(--gray);
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
