.print_job {
  padding: 0.5rem;
  width: 90%;
  min-height: 4rem;
  background-color: var(--dark_green);
  border: 0.13rem solid var(--light_green);
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
