.prints_container {
  width: 98%;
  height: 90vh;
  background-color: var(--dark_green);
  margin: auto;
  margin-top: 0.6rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 1;
}
