:root {
  /* Main Color Palette */
  --bg_color: #000000;
  --text_color: #ffffff;
  --dark_green: #00523b;
  --med_green: #098343;
  --light_green: #93c854;
  --gray: #88857d;
  --light_gray: #c5c3c4;

  font-family: rubik, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  color: var(--text_color);
  background-color: var(--bg_color);
}

* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "rubik";
  src: url("./fonts/rubikVarFont.ttf") format("truetype");
}